{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-sidenav-toggle name="left" as |toggleAction|}}
      {{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
        {{paper-icon "menu"}}
      {{/paper-button}}
    {{/paper-sidenav-toggle}}
    <h2>
      The Apothecary Shoppe
    </h2>
    <span class="flex"></span>
	{{#if session.isAuthenticated}}
		{{logout-button}}
	{{else}}
		{{login-button isLink=true}}
	{{/if}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class="layout-row layout-xs-column">
  <div class="flex">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline}}Welcome to the Apothecary Shoppe{{/text.headline}}
          {{#text.subhead}}We hope you enjoy your day{{/text.subhead}}
        {{/title.text}}
      {{/card.title}}
    {{/paper-card}}
  </div>
</div>
<div class="layout-row layout-xs-column">
  <div class="flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        <h3>
          The Dispensary
        </h3>
      {{/card.title}}
      {{#card.content}}
        <p>
          The Apothecary Shoppe is a Las Vegas marijuana dispensary located just
          west of The Strip on Flamingo Road and minutes from Downtown. Our
          Shoppe is open to all medical marijuana patients in Nevada and
          cardholders nationwide.
        </p>
        <p>
          The upscale and consultative environment of The Apothecary Shoppe
          creates a singular guest experience centered around exceptional
          service, unique cannabis products and gourmet edibles made in our own
          kitchen.
        </p>
      {{/card.content}}
    {{/paper-card}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        <h3>
          The Community
        </h3>
      {{/card.title}}
      {{#card.content}}
        <p>
          We endeavor to not only provide patients with natural alternative
          medicine for their ailments, but also educate those who want to know
          more about the real benefits, research and untruths related to medical
          marijuana. We invite you to join us and others on Facebook, Twitter
          and Instagram and help us create a positive cannabis culture in
          Nevada.
        </p>
      {{/card.content}}
    {{/paper-card}}
  </div>
  <div class="flex-xs flex-gt-xs-50">
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        <h3>
          The Experience
        </h3>
      {{/card.title}}
      {{#card.content}}
        <p>
          The vision of The Apothecary Shoppe is simple – to be the hub of
          wellness, knowledge and style for the cannabis community in Las Vegas,
          taking the dispensary concept to a new level of excellence and
          sophistication.
        </p>
        <p>
          To do this, we’ve assembled a dynamic group of patient concierges to
          pool their expertise with our team of licensed physicians, who will
          not only provide valuable counsel, but also oversee our critical
          marijuana-based therapy research. We’ll capture all aspects of your
          experience to ensure that future visits are tailored precisely to your
          individual tastes and needs – all in a comfortable, upscale,
          hand-crafted environment.
        </p>
      {{/card.content}}
    {{/paper-card}}
    {{#paper-card as |card|}}
      {{#card.title as |title|}}
        <h3>
          In the News:
        </h3>
      {{/card.title}}
      {{#card.content}}
        <p>
          Our founder, Dr. Nick Spirtos, spoke recently on ABC 13.
          <a
              href="http://www.ktnv.com/news/federal-letter-targets-las-vegas-marijuana-festival">
            Check out the video here.
          </a>
        </p>
      {{/card.content}}
    {{/paper-card}}
  </div>
</div>
