{{#paper-toolbar}}
	{{#paper-toolbar-tools}}
		{{#paper-sidenav-toggle name="left" as |toggleAction|}}
			{{#paper-button iconButton=true classNames="hide-gt-sm" onClick=(action toggleAction)}}
				{{paper-icon "menu"}}
			{{/paper-button}}
		{{/paper-sidenav-toggle}}
		<h2>
			Login
		</h2>
		<span class="flex"></span>
	{{/paper-toolbar-tools}}
{{/paper-toolbar}}

<div class="layout-row layout-xs-column">
	<div class="flex">
		{{#paper-card as |card|}}
			{{#card.title as |title|}}
				<h3>
					Click to login using Google
				</h3>
			{{/card.title}}
			{{#card.content}}
				{{#paper-button raised=true onClick=(action "login") primary=true}}Login{{/paper-button}}
			{{/card.content}}
		{{/paper-card}}
	</div>
</div>
